{% block content %}
<h1>VoiceX</h1>
<hr style="border:solid gray medium;"/>
<p>Welcome to VoiceX! It is currently available in US and Kenya: </p>
<ul>
<li>US Number: 6503089145</li>
<li>Kenya Number: 2122</li>
</ul>
<hr style="border:solid gray medium;"/>
<h2>Basic User Commands and Syntax</h2>
<h3>register</h3>
<p><b>Syntax: </b>register &lt;name&gt;</p>
<p><b>Sample Text 1: </b><i>register voicex</i></p>
<p><b>Sample Response 1: </b><i>Successfully registered voicex with 6503088677.</i></p>

<hr />
<h3>unregister</h3>
<p><b>Syntax: </b>unregister &lt;name&gt;</p>
<p><b>Sample Text 1: </b><i>unregister voicex</i></p>
<p><b>Sample Response 1: </b><i>Unregistered voicex.</i></p>

<hr />
<h3>post</h3>
<p><b>Syntax: </b>post &lt;msg&gt;</p>
<p><b>Sample Text 1 (simple post): </b><i>post hello world</i></p>
<p><b>Sample Text 2 (tagged post): </b><i>post hello world. #voicex</i></p>
<p><b>Sample Text 3 (anonymous and tagged post): </b><i>post hello world. #anon #voicex</i></p>
<p><b>Sample Response 1: </b><i>Msg successfully posted. To view the post, text -- view 3</i></p>
<p><b>Sample Response 2: </b><i>Msg successfully posted. To view the post, text -- view 4</i></p>
<p><b>Sample Response 3: </b><i>Msg successfully posted. To view the post, text -- view 5</i></p>

<hr />
<h3>view</h3>
<p><b>Syntax: </b>view &lt;post-id&gt;</p>
<p><b>Sample Text 1: </b>view 3</i></p>
<p><b>Sample Response 1: </b><i>hello world</i></p>

<hr />
<h3>delete</h3>
<p><b>Syntax: </b>delete &lt;post-id&gt;</p>
<p><b>Sample Text 1: </b><i>delete 3</i></p>
<p><b>Sample Response 1: </b><i>Post (ID:3) has been successfully deleted.</i></p>

<hr />
<h3>reply</h3>
<p><b>Syntax: </b>reply &lt;post-id&gt; &lt;msg&gt;</p>
<p><b>Sample Text 1 (private reply): </b><i>reply 3 this is my reply.</i></p>
<p><b>Sample Text 2 (public reply): </b><i>post this is my public reply. #public</i></p>
<p><b>Sample Text 3 (anonymous &amp; public reply): </b><i>post this is my public and anonymous reply. #public #anon</i></p>
<p><b>Sample Response 1: </b><i>Your reply to post (ID:3) has been successfully submitted!</i></p>
<p><b>Sample Response 2: </b><i>Your reply to post (ID:3) has been successfully submitted!</i></p>
<p><b>Sample Response 3: </b><i>Your reply to post (ID:3) has been successfully submitted!</i></p>

<hr />
<h3>search</h3>
<p><b>Syntax: </b>search &lt;keywords&gt;</p>
<p><b>Sample Text 1: </b><i>search world</i></p>
<p><b>Sample Response 1: </b><i>hello world (Post ID: 3)</i></p>


<hr />
<h3>follow</h3>
<p><b>Syntax: </b>follow &lt;@name/#tag&gt;</p>
<p><b>Sample Text 1 (following an organization): </b><i>follow @stanford</i></p>
<p><b>Sample Text 2 (following a tag): </b><i>follow #employment</i></p>
<p><b>Sample Response 1: </b><i>You are now following @stanford</i></p>
<p><b>Sample Response 1: </b><i>You are now following #employment</i></p>

<hr />
<h3>unfollow</h3>
<p><b>Syntax: </b>unfollow &lt;@name/#tag&gt;</p>
<p><b>Sample Text 1 (unfollowing an organization): </b><i>unfollow @stanford</i></p>
<p><b>Sample Text 2 (unfollowing a tag): </b><i>unfollow #health</i></p>
<p><b>Sample Response 1: </b><i>You are now not following @stanford</i></p>
<p><b>Sample Response 1: </b><i>You are now not following #employment</i></p>

<hr style="border:solid gray medium;"/>
<h2>Notification Texts</h2>
<h3>When somebody replies to your post</h3>
<p><b>Sample Response 1: </b><i>New Reply(Post ID: 3), From: @voicex: this is my reply.</i></p>
<p><b>Sample Response 1: </b><i>New Reply(Post ID: 3), From: @voicex: this is my public reply. #public</i></p>
<p><b>Sample Response 1: </b><i>New Reply(Post ID: 3), From: @anonymous: this is my public and anonymous reply. #public #anon</i></p>

<hr />
<h3>If you were following @voicex</h3>
<p><b>Sample Response 1: </b><i>From: @voicex (Post ID: 3): hello world.</i></p>
<p><i>Note<i>: Even if you were following voicex, you wouldn't get notified if voicex posts with #anon tag.</i></p> 

<hr />
<h3>If you were following #employment or #kibera</h3>
<p><b>Sample Response 1: </b><i>From: @voicex (Post ID: 5): New job in Kibera. #employment #kibera</i></p>
<p><b>Sample Response 1: </b><i>From: @anonymous (Post ID: 7): a violence on Kibera drive. #anon #kibera.</i></p>



{%endblock%}
