<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %}VoiceX{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="static/style.css" />
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
	<div id="page">
	{% block content %}{% endblock %}
	</div>
</body>
</html>
